<form nz-form>
    <div nz-row nzGutter="8">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzSpan="4" nzFor="property.address">交易房产地址</nz-form-label>
                <nz-form-control nzSpan="20">
                    <input nz-input name="property.address" type="text" [(ngModel)]="property.address" placeholder="address">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
            <nz-form-item>
                <nz-form-label nzSpan="6" nzFor="property.estateNumber">产权证号</nz-form-label>
                <nz-form-control nzSpan="18">
                    <input nz-input name="property.estateNumber" type="text" [(ngModel)]="property.estateNumber" placeholder="estateNumber">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
            <nz-form-item>
                <nz-form-label nzSpan="6" nzFor="property.penny">定金</nz-form-label>
                <nz-form-control nzSpan="18">
                    <input nz-input name="property.penny" type="text" [(ngModel)]="property.penny" placeholder="penny">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
            <nz-form-item>
                <nz-form-label nzSpan="6" nzFor="property.downPayments">首期款</nz-form-label>
                <nz-form-control nzSpan="18">
                    <input nz-input name="property.downPayments" type="text" [(ngModel)]="property.downPayments" placeholder="downPayments">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
            <nz-form-item>
                <nz-form-label nzSpan="6" nzFor="property.transactionPrice">成交价</nz-form-label>
                <nz-form-control nzSpan="18">
                    <input nz-input name="property.transactionPrice" type="text" [(ngModel)]="property.transactionPrice" placeholder="transactionPrice">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
            <nz-form-item>
                <nz-form-label nzSpan="6" nzFor="property.loans">贷款</nz-form-label>
                <nz-form-control nzSpan="18">
                    <input nz-input name="property.loans" type="text" [(ngModel)]="property.loans" placeholder="loans">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
            <nz-form-item>
                <nz-form-label nzSpan="6" nzFor="property.loanTerm">贷款年限</nz-form-label>
                <nz-form-control nzSpan="18">
                    <input nz-input name="property.loanTerm" type="text" [(ngModel)]="property.loanTerm" placeholder="loanTerm">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>