<form nz-form>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="property.name">姓名</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input name="property.name" type="text" [(ngModel)]="property.name" placeholder="name">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="property.sex">性别</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input name="property.sex" type="text" [(ngModel)]="property.sex" placeholder="sex">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="property.age">年龄</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input name="property.age" type="text" [(ngModel)]="property.age" placeholder="age">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="property.education">学历</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input name="property.education" type="text" [(ngModel)]="property.education" placeholder="education">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="property.marital">婚姻状况</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input name="property.marital" type="text" [(ngModel)]="property.marital" placeholder="marital">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="property.identityNumber">身份证号</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input name="property.identityNumber" type="text" [(ngModel)]="property.identityNumber" placeholder="identityNumber">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="property.mobile">手机号</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input name="property.mobile" type="text" [(ngModel)]="property.mobile" placeholder="mobile">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nzSpan="6" nzFor="property.phone">家庭电话</nz-form-label>
        <nz-form-control nzSpan="18">
          <input nz-input name="property.phone" type="text" [(ngModel)]="property.phone" placeholder="phone">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nzSpan="4" nzFor="property.email">邮箱地址</nz-form-label>
        <nz-form-control nzSpan="20">
          <input nz-input name="property.email" type="text" [(ngModel)]="property.email" placeholder="email">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="16">
      <nz-form-item>
        <nz-form-label nzSpan="4" nzFor="property.address">居住地址</nz-form-label>
        <nz-form-control nzSpan="20">
          <input nz-input name="property.address" type="text" [(ngModel)]="property.address" placeholder="address">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>